<html lang="en">
<%- include('partials/header')%>
<body>
  <%- include('partials/nav')%>
  <div class="flash_msgs">
    <%- include('partials/flash_messages')%>
  </div>
  <table id="user_profile">
    <tr>
      <th>User Id</th>
      <th>Image</th>
      <th>Email</th>
      <th>Username</th>
      <th>denomination</th>
      <th>amount</th>
      <th>role</th>
    </tr>
    <tr>
      <td><%= person.id %> </td>
      <td><img src="/<%= person.image %>" alt="<%= person.username %>" width="100"></td>
      <td><%= person.email %> </td>
      <td><%= person.username %> </td>
      <td><%= person.denomination %> </td>
      <td><%= person.amount %> </td>
      <td><%= person.role %> </td>
    </tr>
  </table>

  <button id="auth_btn"><a href="/user/update_profile/<%= person._id %> ">Edit profile</a></button> <br>

  <button id="auth_btn"><a href="/user/deposit">Make a deposit</a></button> <br>

  <button id="auth_btn"><a href="/user/alldeposits/<%= person._id %> ">Get all deposits</a></button>

<%- include('partials/footer')%>
</body>
</html>